/01_Python/work/
/01_Python/Unit_10_ORM/alembic/
/01_Python/Unit_10_ORM/db_app/
/01_Python/Unit_10_ORM/examples/
/02_ML/Unit_01/Untitled.ipynb
/02_ML/Unit_01/HW/taxi_dataset.csv
/02_ML/Unit_01/macrofeatures.xlsx
/02_ML/Unit_01/HW/task6.csv
/02_ML/Unit_01/HW/task7.csv
/02_ML/Unit_01/HW/task8.csv
/02_ML/Unit_01/HW/task9.csv
/02_ML/Unit_01/HW/.ipynb_checkpoints/
/02_ML/Unit_01/.ipynb_checkpoints/
/02_ML/Unit_01/ks.csv
/02_ML/Unit_02/HW/taxi_dataset_with_predictions.csv
/02_ML/Unit_02/HW/.ipynb_checkpoints/
/02_ML/Unit_03/X.csv
/02_ML/Unit_03/Y.csv
/02_ML/Unit_03/HW/taxi_dataset_with_target.csv
