/01_Python/work/
/01_Python/Unit_10_ORM/alembic/
/01_Python/Unit_10_ORM/db_app/
/01_Python/Unit_10_ORM/examples/
/02_ML/Unit_1/Untitled.ipynb
/02_ML/Unit_1/HW/taxi_dataset.csv
/02_ML/Unit_1/macrofeatures.xlsx
/02_ML/Unit_1/HW/task6.csv
/02_ML/Unit_1/HW/task7.csv
/02_ML/Unit_1/HW/task8.csv
/02_ML/Unit_1/HW/task9.csv
/02_ML/Unit_1/HW/.ipynb_checkpoints/
/02_ML/Unit_1/.ipynb_checkpoints/
/02_ML/Unit_1/ks.csv
/02_ML/Unit_2/HW/taxi_dataset_with_predictions.csv
/02_ML/Unit_2/HW/.ipynb_checkpoints/
/02_ML/Unit_3/X.csv
/02_ML/Unit_3/Y.csv
/02_ML/Unit_3/HW/taxi_dataset_with_target.csv
